/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}


html {
    background-color: #fff;
}

body {
    margin: 0;
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

article {
    margin: 20px;
}

.my-navbar li {
    display: inline;
}

.my-navbar a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.wrap-all {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
}

.region-header {
    width: 100%;
    background: linear-gradient(#AAB3FA, transparent);
}

.region-header-col-2 {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.site-logo {
    display: none;
}

.site-logo-text a {
    font-size: 3em;
    text-decoration: none;
    color: #000;
}

.outer-wrap-main {
    overflow: auto;
}

.next-previous {
    width: 50%;
    margin: 0 auto;
}

.next {
    float: right;
}

.region-footer {
    background: linear-gradient(transparent, #AAB3FA);
}

.outer-wrap-flash {
    margin: 0 auto;
}

/*Layout rules divide the page into sections. Layouts hold one or more modules together.*/


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left {
    float: left;
}

 .right {
     float: right;
 }


.byline {
    margin: 10px auto;
    width: 400px;
    border: dotted 1px;
    padding: 10px;
    box-shadow: 1px 1px 20px #8C728C;
    overflow: auto;
    font-style: italic;
}

.byline p {
    padding: 10px;
}
