/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article {
  margin: 20px;
}
.my-navbar li {
  display: inline;
}
.my-navbar a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.wrap-all {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
}
.region-header {
  width: 100%;
  background: linear-gradient(#ff0, transparent);
}
.region-header-col-2 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.site-logo {
  display: none;
}
.site-logo-text a {
  font-size: 3em;
  text-decoration: none;
  color: #000;
}
.outer-wrap-main {
  overflow: auto;
}
.next-previous {
  width: 50%;
  margin: 0 auto;
}
.next {
  float: right;
}
.region-footer {
  background: linear-gradient(transparent, #AAB3FA);
}
.outer-wrap-flash {
  margin: 0 auto;
}
/*Layout rules divide the page into sections. Layouts hold one or more modules together.*/
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.byline {
  margin: 10px auto;
  width: 400px;
  border: dotted 1px;
  padding: 10px;
  box-shadow: 1px 1px 20px #8C728C;
  overflow: auto;
  font-style: italic;
}
.byline p {
  padding: 10px;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #fff;
  font-size: 100%;
}
@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1, 5 serif;
  line-height: 1.4;
}
p {
  font-size: 1.25em;
  margin-bottom: 1.75rem;
}
h1 {
  font-size: 3em;
  margin-bottom: 3.5rem;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.left {
  float: left;
}
.right {
  float: right;
}
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.outer-wrap-header {
  background-color: #AAB3FA;
}
.rm-desktop li a {
  background-color: #AAB3FA;
}
.rm-desktop li a:hover {
  background-color: #AAB3FA;
}
.inner-wrap-header {
  max-width: 100%;
}
.region-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.region-header-col-1,
.region-header-col-3 {
  width: 20%;
  float: left;
}
.region-header-col-2 {
  width: 60%;
  float: left;
}
.site-logo {
  display: none;
}
.site-logo-text a {
  color: #000;
  font-size: 2em;
  text-decoration: none;
}
.breadcrumb-list a {
  font-size: 0.8em;
}
.breadcrumb-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumb-list li {
  display: inline-block;
}
.next-previous {
  width: 60%;
  margin: 0 auto;
}
.next-previous a {
  font-size: 0.8em;
}
.next {
  float: right;
}
.inner-wrap-main {
  overflow: auto;
}
.region-main,
.region-sidebar-left,
.region-sidebar-right {
  overflow: auto;
}
.region-main {
  width: 70%;
  margin-left: 10%;
  float: left;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.region-main.has-sidebar {
  margin-left: 0;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
  float: left;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
}
.outer-wrap-footer {
  max-width: 100%;
  background: linear-gradient(transparent, #AAB3FA);
}
.footer-column-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-column {
  padding: 15px;
}
.site-footer {
  text-align: center;
  padding-bottom: 25px;
}
.byline {
  margin: 10px auto;
  width: 400px;
  border: dotted 1px;
  padding: 10px;
  box-shadow: 1px 1px 20px #8C728C;
  overflow: auto;
  font-style: italic;
}
.byline p {
  padding: 10px;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Navbar
 */
@media screen and (max-width: 960px) {
  .rm-default a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .site-logo-text a {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .rm-desktop {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
